<div class="bg-white flex lg:justify-between gap-[32px] flex-wrap px-[16px] lg:px-[100px] py-[48px] lg:pt-[32px] lg:pb-[42px] max-w-[1440px] mx-auto">

    <div class="flex flex-col gap-[13px] text-[#033E37] lg:max-w-[420px] w-full">
        <span class="lg:mx-0 mx-auto"><h3 class="text-[24px] font-[700]">combination.design</h3></span>

        <p class="text-[16px] lg:text-[18px] lg:text-left md:text-justify text-center leading-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare cursus sed nunc eget dictum  Sed ornare cursus sed
            nunc eget dictumd nunc eget dictum  Sed ornare cursus sed nunc 
            eget dictum </p>
    </div>

    <div class="flex items-start lg:gap-[290px] justify-between lg:max-w-[608px] w-full">
        <div class="flex flex-col gap-[16px]">
            <h4 class="text-[#222] text-[14px] leading-[20px] font-[500] font-Poppins">Product & Service</h4>

            <ul class="flex flex-col gap-[12px] py-[4px] text-[#5C5F66] text-[12px] leading-[16px] font-Poppins">
                <li class="cursor-pointer">Page here</li>
                <li class="cursor-pointer">Page here</li>
                <li class="flex items-center gap-[8px] cursor-pointer">
                    <p>Page here</p>
                    <span class="py-[4px] px-[10px] rounded-[64px] border border-[#92E8C9] bg-[#EBFBFE] text-[#033E37]">New</span>
                </li>
            </ul>
        </div>

        <div class="flex flex-col gap-[64px] lg:pt-[24px]">
            <div class="flex flex-wrap lg:flex-nowrap items-center lg:gap-[16px] gap-[24px] lg:ml-[20px] lg:max-w-[185px] max-w-[120px]">
                <img [src]="instagramIcon" alt="" class="cursor-pointer">
                <img [src]="twitterIcon" alt="" class="cursor-pointer">
                <img [src]="linkedinIcon" alt="" class="cursor-pointer">
                <img [src]="dribbleIcon" alt="" class="cursor-pointer">
                <img [src]="behavnceIcon" alt="" class="cursor-pointer">
            </div>
            
            <ul class="hidden lg:flex gap-[32px] items-center list-outside list-disc text-[12px] leading-[16px] text-[#222]">
                <li class="list-none cursor-pointer">English</li>
                <li class="cursor-pointer">Privacy</li>
                <li class="cursor-pointer">Legal</li>
            </ul>
        </div>

    </div>

    <div class="flex flex-col gap-[32px] w-full md:hidden">
        <div class="w-full h-[1px] bg-[#E6E6E6]"></div>

        <ul class="flex items-center justify-center gap-[32px] text-[#5C5F66] text-[12px]">
            <li class="cursor-pointer">English</li>
            <li class="cursor-pointer">Privacy</li>
            <li class="cursor-pointer">Legal</li>
        </ul>
    </div>
   
    <span class="w-full mt-[16px] lg:mt-[89px] md:mt-[40px]">
        <p class="text-[12px] font-[400] leading-[16px] font-Poppins text-[#A6A7AB]">© 2023 Combination.design All Rights Reserved.</p>
    </span>
    
</div> 